*{
    padding: 0;
    margin:0;
}
.nav-center {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 2px 2px 9px black;
}
.nav-center h4{
    margin: 23px 23px;
    font-size: 25px;
    color: lightblue;
}
.nav-center .nav-links{
    display: flex;
    flex-direction: row;
    margin-left: 1200px;
    
}
.nav-center .nav-links  li{
    margin: 2px;
    margin-top:23px;
    font-size: 18px;
    
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    
}
.nav-center .nav-links li a{
    text-decoration: none;


}
.container{
    margin: 200px 500px;
    
}
.container h2{
    background-color: black;
    color: white;
    width:550px;
    height: 100px;
    text-align:justify;
    padding: 17px 40px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.container .btn{

    margin: 12px 200px;
    width: 150px;
    height: 45px;
    border: 2px solid black;
    color: black;
    font-weight:100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    cursor: pointer;
}
 @media screen and (max-width: 420px) {
    html,body{
        overflow-x: hidden;
        
    }
    
    .nav-center{
        width:100% ;
        height: 50%;
    }
    .nav-center h4{
        font-size: 18px;
        padding-top:6px;
    }
     .nav-center .nav-links{
        margin-left:109px ;
    }
    .nav-center .nav-links  li{
        margin-top: 23px;
    }
    .container{
        
        margin: 150px 119px;
        font-size: 12px;
    }
    .colorm{
        justify-content: center;
        align-items: center;
        padding-left:34px;
    }
    .container h2{
        padding-top:5px;
        width: 200px;
        height:50px;
        font-size: 12px;

    }
    .container .btn{
        width: 140px;
        height: 34px;
        border-radius: 5px;
        margin-left: 35px;
    }
    .container .btn:hover{
        background-color: blue;
    }
 } 